<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<body>


<div th:replace="fragments/sideNav ::navbar">


</div>
<div class="container my-2">


<div class="ex"> Cancel Product 
<a href=""></a> 
<table border="1" class="table table-striped table-responsive-md"> 
<thead>
</thead>

<tbody>

<tr>
<th th:each="id : ${cancel}">
  <th th:each="cost : ${cancel}">
  
  <form th:action ="@{/cancelByIdnCost}" method="get">
  <input type="text" name="id">
  <button type="submit"  class="btn btn-danger">Cancel Product </button>
  
   </form> 	  
 </tr> 
 
 
 

	
	</tbody>
	</table>
	
	<hr>
	<a th:href="@{/}">Back to Main Page </a>
	
	
	
</div>

</body>
</html>